*{margin: 0;padding: 0;}
a{text-decoration: none;}
li{list-style: none;}
body{
	background: url(../img/body.png) center top no-repeat #1b2838;font-size: 11px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;	    
}
.center{width: 1190px;margin: 0 auto;}
.dot-bb{width: 100%;height: 20px;position: relative;}
.header{
	background-color: #171a21;
}
.head-center{
	width: 940px;
	height: 104px;
	margin: 0 auto;
	position: relative;
	right: -90px;
}
.head-center:after{
	content: "";
	display: block;
	clear: both;
}
.head-left{
	float: left;
}
.head-left:after{
	content: "";
	display: block;
	clear: both;
}
.logo{
	width: 176px;
	height: 104px;
	background-image: url(../img/logo.png);
	background-position: 0px 30px;
	background-repeat: no-repeat;
	float: left;
}
.head-ul{
	float: left;
	margin-left:28px; 
}
.head-ul:after{
	content: "";
	display: block;
	clear: both;
}
.head-ul li{
	float: left;
	padding: 0 7px;
	position: relative;
	left: 0;
	top: 0;
}
.head-ul a{
	font-size: 14px;
	color: #b8b6b4;
	line-height: 104px;
}
/*.......................二级导航部分.......................*/
.head-ul .head-nav{
	max-width: 132px;
	padding: 5px 15px 10px 15px;
	position: absolute;
	background-color: #171a21;
	box-shadow: 3px 3px 5px -3px #000;
	top: 60px;
	left: 1px;
	opacity: 0;
	z-index: -1;
	transition:all .2s; 
}
.head-ul li:hover .head-nav{
	z-index: 1;
	opacity: 1;
}
.head-nav a{
	width: 36px;
	padding: 0 5px;
	display: block;
	line-height: 20px;
	font-size: 11px;
	text-align: left;
	padding: 5px 0;
}
.head-nav-two a{
	width: 48px;
}
.head-nav a:hover{
	color: #fff;
}
/*。。。。。。。。。右边。。。。。。。。。。。。*/
#steam{
	position: absolute;
	right: 0;
	top: 6px;
}
.install{float: left;}
.install a{
	display: inline-block;
	padding-left: 30px;
	padding-right: 5px;
	height: 21px;
	font-size: 12px;
	color: #fff;
	background-image: url(../img/green.png);
	background-repeat: no-repeat;
	background-color: #5A700B;
}
.ente{float: right;margin-top: 3px;margin-left: 3px;}
.ente a{
	display: inline-block;
	font-size: 11px;
	color: #b8b6b4;
	padding: 0 5px;
}
.ente a:hover{color: #fff;}
.ente .but{
	background-image: url(../img/padded.png);
	background-position: 27px 4px;
	background-repeat: no-repeat;
	padding-right: 15px;
}
/*。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。nav。。。。。*/
.nav:after{
	content: "";
	display: block;
	clear: both;
}
.nav-left{
	padding-top: 20px;
	width: 210px;
	float: left;
}
.nav-logo{
	display: block;
	width: 210px;
	color: #c6d4df;
	font-size: 11px;
	text-transform: uppercase
}
.nav-logo img{width: 100%;}
#nav_p a{
	color: #66c0f4;
    font-size: 11px;
}
.tuijian{
	color: #c6d4df;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 16px;
    margin: 7px 0;
}
.tuijan-a a{
	display: block;
    color: #66c0f4;
    margin: 7px 0;
    font-size: 13px;
}
.tuijan-a .tuijan-s{
	display: inline-block;
	width: 16px;
	height: 16px;
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    background-position: 0 5px;
    margin-right: 7px;
}
.tuijan-a a:hover{color: #fff;}
/*.............................................................*/
.nav-rigth{
	padding-left: 240px;
	padding-top: 30px;
	width: 940px;
}
.nav-nav{
	height: 34px;
	background: rgba( 62, 126, 167, 0.8);
    box-shadow: 0 0 3px rgba( 0, 0, 0, 0.4);
}
.nav-nav:after{
	content: "";
	display: block;
	clear: both;
}
.nav-nav-left{float: left;}
.nav-nav-left:after{
	content: "";
	display: block;
	clear: both;
}
.nav-nav span{
	display: inline-block;
	border-right: 1px solid rgba( 16, 21, 25, 0.3);
	padding-left: 15px;
	padding-right: 35px;
	background-image: url(../img/padded.png);
	background-repeat: no-repeat;
	background-position: 44px 12px; 
	position: relative;
}
.nav-nav-left span{
 	float: left;
	display: block;
}
.nav-nav span:hover{
	background-color: #d9dadd;
}
.nav-nav span:hover a{color: #333;}
.nav-nav .nav-nav-span{
	background-position: 69px 12px; 
}
.nav-nav a{
	font-size: 13px;
	color: #d9dadd;
	line-height: 34px;;
}
/*.................................二级导航..........................*/
.input-nav{
	box-shadow: 0 0 12px #000000;
	position: absolute;
	left: 0;
	background-color: #d9dadd;
	padding: 5px;
	visibility: visible;
	opacity: 0;
	z-index: -1;
	transition:all .5s;
}
.nav-nav-left span:hover .input-nav{
	z-index: 99;
	opacity: 1;
}
.input-nav a{
	color: #000;
	display: block;
	padding: 0 15px;
	min-width: 120px;
	text-align: left;
	line-height: 28px;
}
span .input-nav a:hover{
	background-color: #000;
	color: #fff;
}
.input-bottom{
	border-top: 1px solid #fff;
	padding-top: 5px;
}
.input-bottom p{
	font-size: 12px;
	color: #4f94bc;
	padding: 5px 10px;

}
/*...................................................................*/
.nav-nav-rigth{
	float: right;
	height: 34px;
}
.rigth-input{
	height: 28px;
	border: 1px solid rgba( 0, 0, 0, 0.3);
	border-radius: 3px;   
    margin-top: 2px;
    margin-right: 3px;

}
.rigth-input:hover{
	border:1px solid purple;
	border-radius: 3px; 
}  
#input_img{
	display: block;
	width: 25px;
	height: 25px;
	position: relative;
	background-image: url(../img/over.png);
	padding: 0;margin: 0;
	background-position: 0px 0px;
	bottom: 29px;
	cursor: pointer;
	left: 206px;
}
.nav-nav-rigth input{
	height: 30px;
	border: none;
	background-color:rgba(49,98,130,.1);
	outline: none;
	padding-left: 5px;
	width: 228px;
	font-family: "正楷";
	color: #fff;
	line-height: 28px;
}
.nav-nav-rigth input::-webkit-input-placeholder{
	color: #ddd;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
}
/*....................................*/
.main{
	margin-top: 35px;
}
.main h2{
	font-size:18px;
	color: #fff; 
	font-weight: normal;
}
.carousel{
	margin-top: 5px;
	position: relative;
	left: 0;
	top:0;
	height: 380px;
}
.carousel-center{
	box-shadow: 0 0 1px 1px #333;
	background-image: url(../img/biejing1.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	display: none;
	position: relative;
}
.over{overflow: hidden;float: left;box-shadow: 0 0 10px 0 #000;}
.showxian{display:block;}
.carousel-ul{
	width: 616px;
	height: 353px;
	background-color: #000;
	cursor: pointer;
}
.carousel-ul li{
	display: none;
}
.carousel-ul .show{display: block;}
.carousel-ul .carousel-a{
	display: block;
	height: 353px;
	width: 616px;
}
/*................................................................*/
.side{
	position: absolute;
	width: 280px;
	height: 320px;
	top: 0;
	left: -305px;
	background-color:#E1E8EE;
	z-index: 99;
	padding:15px 10px;
    box-shadow: 0 5px 3px rgba( 0, 0, 0, 0.4);
    display: none;
    border-radius: 5px;
}
.zitwo{
	font-size: 19px;
	font-weight: 500;
	color: #555;
}
.side-center p{
	font-size: 12px;
	color: #555;
	margin: 5px 0;
}
.side-lunbo li{
	width: 280px;
	height: 160px;
	display: none;
}
.side-lunbo img{width: 100%;}
.side-lunbo .lunbo-li{display: block;}
.ceping{
	width: 270px;height: 40px;background-color: #6A7884;line-height:20px;
	color: #fff;padding-left: 10px;margin-top: 5px;
}
.ceping span{color: purple;}
.side-center .inof-span{
	background-color: #555;color: #fff;padding:0px 8px;text-align: center;
	margin-top: 8px;display:inline-block;border-radius: 2px;line-height: 19px;
}
.ceping .haoping{color: skyblue}
.ceping .pinglunshu{color: #fff}
.inof-zhi .zhekou{
	padding: 0 3px;
	color: #a4d007;
    background: #4c6b22;
    display: inline-block;
}
.inof-zhi .yuanjia{
	display: inline;
	text-decoration: line-through;
    color: #626366;
    font-size: 11px;
    background: #000000
}
.xianse{background-color: #000}
/*.......................................................................*/
.carousel-ul img{
	width: 100%;
	height: 100%;
}
.inof{
	padding-left:616px;
	height: 353px;
}
.inof .zi{
	font-size: 24px;
	line-height: 26px;
	max-height: 52px;
	padding-left: 15px;
	color: #fff;
	padding: 10px 0;
	padding-left: 10px;
}
.inof-img{overflow:hidden;}
.inof-img .img-1{
	width: 152px;
	height: 69px;
	float: left;
	padding: 10px 10px 0 0;
	font-size: 0;
	opacity: 0.7;
}
.inof-img .img-1:hover{
	opacity: 1;
}
.img-1 img{width: 100%;height: 100%;}
.inof h2{
	font-size: 21px;
	font-weight: 200;
	padding-top: 6px;
	padding-left: 10px;
	margin: 10px 0;
}
.inof-p{
    display: inline-block;
    margin-right: 14px;
    line-height: 19px;
    padding: 0 7px;
    background-color: rgba( 255, 255, 255, 0.2 );
    box-shadow: none;
    margin-right: 2px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 3px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
    color: #fff;
    margin: 3px 0;
    margin-left: 10px;
}
.inof-zhi{padding-left: 10px;margin-top: 10px;color:#acdbf5;position: relative;height: 40px;}
.inof-zhi:after{
	content: "";
	display: block;
	clear: both;
}
.inof-zhi span{
	font-size: 11px;
	float: left;
}
.inof-jingling{
	float: right;
}
.inof-jingling .wind{
	display: inline-block;
	background-repeat: no-repeat;
	margin-right: 10px;
}
.arr-left,.arr-rigth{
	position: absolute;
	top: 30%;
	padding: 36px 11px;
	cursor: pointer;
}
.arr-left{
	left:-45px;
    background: linear-gradient( to right, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
}
.arr-rigth{
	right:-45px;
	background: linear-gradient( to right, rgba( 0, 0, 0, 0) 5%,rgba( 0, 0, 0, 0.3) 95%);
}
.arr-left:hover{
	background: linear-gradient( to right, rgba( 171, 218, 244, 0.3) 5%,rgba( 171, 218, 244, 0) 95%);
}
.arr-rigth:hover{
    background: linear-gradient( to right, rgba( 171, 218, 244, 0) 5%,rgba( 171, 218, 244, 0.3) 95%);
}
.dot{
	height: 30px;
	position: absolute;
	bottom: -15px;
	left: 36%;
	z-index: 999;
}
.dot span{
	display: inline-block;
	width: 15px;
	height: 9px;
	border-radius: 2px;
	background-color: hsla(202,60%,100%,0.2);
	margin-right: 5px;
	cursor: pointer;
}
.dot .dot-span{
	background-color: #fff;
}
.main-two{
	margin-top: 30px;
}
.main-two-h2{
	color: #fff;
	margin: 0 0 10px;
	font-size:17px;
	font-weight: normal;
}
.main-two-h2 i{
	float: right;
	font-style: normal;
	background: transparent;
    border: 1px solid rgba(255,255,255,1);
    border-radius: 2px;
    padding: 0 15px;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
}
.ktv:after{
	content: "";
	display: block;
	clear: both;
}
.youhui{
	width: 306px;
	position: relative;
	left: 0;
	top: 0;
	margin-right: 11px;
	float: left;
}
.youhui img{
	width: 100%;
}
.youhui-1,.youhui-2{
	height: 390px;
	
}
.youhui-3{ 
	margin-right: 0;
}
.youhui-4,.youhui-5{
	height: 186px;
}
.youhui-4 img,.youhui-5 img{
	width: 100%;
}
.cet{
	position: absolute;
	width: 274px;
	color: #67c1f5;
	bottom: 0;
	background-image: url(../img/m29.jpg);
    padding: 8px 16px 12px 16px;
}
.cet h2{
	font-size: 17px;
	color: #fff;
	margin: 0 0 10px;
	font-weight: normal;
	padding-top: 2px;
}
.cet-span{
	overflow: hidden;
	margin-top: 10px;
}
.cet-s-o{
	float: left;
	width: ;
	font-size: 26px;
	padding: 0 5px;
	line-height: 34px;
	color: #a4d007;
    background: #4c6b22;
}
.cet-s-t{
	float: left;
	background-color: rgba(0,0,0,.6);
	line-height: 13px;
	padding: 4px 10px 4px 7px;
	text-align: right;
	color: #acdbf5;
}
.cet-s-t-o{color: #7193a6;}
.cet-two{
	padding: 5px 10px;
	height: 34px;
	width: 286px;
	background: #abdaf4;
}
.cet-jishi{float: left;}
.jishi-p{
	font-size:11px; 
	color: #283846;
}
.youhui-4{margin-bottom: 15px;}
.jishi-span{
	background-color: #4f95bd;padding: 0 5px;
	text-align: center;margin-top: 3px;color: #fff;
}
.cet-span-two{
	margin: 0;
	float: right;
}
.youhui-3-one{margin-right: 11px;}
.ktv{display: none;box-shadow: none;background-image: none;}
.ktv-show{display: block;}
.dot-two{
	bottom: -55px;
	height: 40px;
	left: 46%;
}
.main-san{
	margin-top: 100px;
}
.main-san h2{
	text-transform: uppercase;
    color: #fff;
    margin: 0 0 10px;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: normal;
    padding-top: 2px;
}
.xinpin{
	display: inline-block;
	margin-right: 8px;
	background-image: url(../img/gbht.jpg);
	background-position-y:-95px; 
	background-repeat: no-repeat;
	border-radius: 3px;
    box-shadow: 0 0 2px #000;
    text-align: center;
    line-height: 58px;
    font-size: 18px;
    background-color: #fff;
}
.xinpin a{
	color: #66c0f4;
	display: block;
	width: 226px;
	height: 58px;
}
.xinpin:hover{
	background-position-y:-142px;
}
.xinpin:hover a{
	color: #fff;
}
.xinpin-2{margin-right: 0;}
.main-si{
	margin-top: 90px;
}
.main-si h2{
	color: #fff;
	margin-bottom: 10px;
	margin: 0 0 10px;	
    font-size: 17px;
    letter-spacing: 2px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    padding-top: 2px;
}
.oopo-qingchu{
	box-shadow: 0 0 5px #000000;
	background: linear-gradient( 153deg, rgba( 255, 255, 255, 0.2) 5%,rgba( 255, 255, 255, 0.1) 95%);
	padding: 16px 13px;
	font-weight: normal;
    min-height: 374px;
}
.oppo-block{
	display: block;
}
.oppo:after{
	content: "";
	display: block;
	clear: both;
}
.oppo-a{float: left;display: block;width: 70px;height: 70px;}
.oppo-a img{width: 100%;}
.oppo-zi{
	padding-left: 80px;
}
.oppo-zi p{
	font-size: 19px;
	font-weight: 300;
	color: #c7d5e0;
}
.oppo-zi span{
	color:#fff; 
}
.oppo-guanzhu:after{
	content: "";
	display: block;
	clear: both;
}
.oppo-guanzhu{
	background-color: rgba(0,0,0,.2);
	display: inline-block;
}
.oppo-guanzhu a{
	display: inline-block;
	font-size: 15px;
	padding: 0 15px;
	background: linear-gradient( to bottom, #799905 5%, #536904 95%);
	border-radius: 2px;
	line-height: 30px;
	color: #D2E885;
	float: left;
	margin-top: 3px;
	margin-left: 3px;
}
.guanzhuzhe{
	/*padding-left: 60px;*/
	float: left;
	margin-left: 10px;
	color: #c6d4df;
	width: fit-content;
	margin-right: 6px;
}
.guanzhuzhe span{display: block;color: #c6d4df;font-size: 15px;}
.oppo-f{
	padding-left: 130px;
	width: 50px;
	height: 20px;
	margin-left: 20px;
	margin-top: 10px;
	font-size: 15px;
	color: #fff;
	pointer-events: auto;
}
.oppo-f img{width:16px;height: 16px;margin-right: 10px;}
.oppo-two{
	margin-top: 20px;
}
.det{
	width: 225px;
	height: 104px;
	float: left;
	margin-right: 4px;
}
.det-two{margin-right: 0;}
.det-tu{
	box-shadow: 0 0 5px #000;
}
.det-tu img{width: 100%;}
.det h6{
	color: #66c0f4;
	line-height: 23px;
	font-weight: 300;
	font-size: 13px;
}
.det p{
	color: #c6d4df;
	padding-right: 12px;
	font-size: 12px;
}
.overd{position: relative;left: 0;top: 0;}
.dot-san{
	bottom: -35px;
	left: 43%;
}
.dot-san span{
	cursor: pointer;
}
.tabs{
	margin-top: 200px;
	background: linear-gradient( to bottom, rgba(42,71,94,1.0) 5%, rgba(42,71,94,0.0) 70%);
}
.tab-nav{position: relative;}
.h-nav{
	padding-left: 250px;
	color: #fff;
	position: relative;
	top: -35px;
}
.h-main span{
	display: inline-block;
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 13px;
    color: #4f94bc;
    line-height: 24px;
    padding: 0 10px;
    cursor: pointer;
    line-height: 35px;
}
.h-main .main-show{
	color: #fff;
	background-color: #2a475e;
	line-height: 35px;
	text-shadow: -1px -1px rgba( 0, 0, 0, 0.25 );
}
.h-main span:hover{
	color: #fff;
}
/*.................................................*/

.a1{
	padding-top: 5px;
	display: none;
}
.a-block{
	display: block;
}
.jg-a{
	display: block;
	width: 618px;
	height: 69px;
	background-color: #202d39;
	margin-top: 5px;
	position: relative;	
}
.jg-a:after{
	content: "";
	display: block;
	clear: both;
}
.jg-a-one{
	background: linear-gradient( to right, #c6e6f8 5%,#95bcd3 95%);
	padding-right: 14px;
	margin-right: -14px;
}
.jg-a-one .jg-tu{
	background-image: url(../img/win3.png);
	opacity: .8;
}
.jg-a-one .jg-tag span{
	color: #384959;
	transition:all .3s;
}
.jg-a-one .jg-item{
	color: #10161b;
	transition:all .3s;
}
.jg-a-one .jg-rig{
	color: #263645;
	transition:all .3s;
}
.jg-left{
	width: 184px;
	height: 69px;
	float: left;
}
.jg-left img{
	width: 100%;
	height: 100%;
}
.jg-zi{
	float: left;
	padding-left: 12px;
}
.jg-item{
	color: #c7d5e0;
	font-size: 1.25em;
	padding: 3px 0;
}
.jg-tu{
	display: block;
	width: 20px;
	height: 20px;
	background-image: url(../img/win.png);
	opacity: .2;
}
.jg-tag span{
	color: #384959;
}
.jg-rig{float: right;
	line-height: 69px;
	margin-right: 15px;
	color: #c7d5e0;
}
/*....................................................*/
.gengduo{text-align: right;width: 618px;background-color: rgba(0,0,0,.2);padding:5px 0 }
.gengduo a{
	display: inline-block;
	color: #fff;
	padding: 5px 13px;
	border:1px solid rgba(255,255,255,.2);
	border-radius: 2px;
	margin-right: 5px;
}
.gengduo a:hover{
	border: 1px solid #fff;
}
/*.............................................................................*/
.cpu{
	background: linear-gradient( to right, #95bbd4 5%,#859bac 95%);
	width: 278px;
	height: 725px;
	position: absolute;
	right: 0px;
	top: 45px;
	padding: 5px 15px;
	display: none;
}
.cpu-block{
	display: block;
}
.tab-right{
	display: none;
	
}
.tab-right-two{
	display: block;
}
.tab-right h2{
	font-size: 21px;
	height: 30px;
	color: #263645;
	padding: 7px 0;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sword{
	width: 268px;
	border-radius: 2px;
	background-color: rgba( 38, 54, 69, 0.6);
	padding: 5px 0px;
	padding-left: 10px;
	margin-bottom: 10px;
}
.sword-a a{
	display: inline-block;
	padding: 0 7px;
	background-color:rgba( 38, 54, 69, 0.6);
	color: #fff; 
}
.sword-img{
	width: 280px;
    height: 149px;
    margin-top: 3px;
    background-size: cover;
    background-position: center center;
    /*padding: 8px;*/
    padding-bottom: 2px;
}
.sword-img img{width: 100%;height: 100%;}
/*........................................................................*/

.carousel-ul-two{
	width: 465px;
	height: 266px;
	background-size: 100%;
}
.inof-two{
	padding: 0;
}
.side-lunbo-two{
	width: 237px;
	height: 133px;
	float: left;
}
.side-lunbo-two img{
	width: 100%;
}
.plg{
	margin-top: 50px;
	height: 134px;
	padding-left: 250px;
}
.plg .arr-left{
	left: 205px;
}
.plg-zi:after{
	content: "";
	display: block;
	clear: both;
}
.p-zi-one{
	float: left;
	color: #fff;
    margin: 0 0 10px;
    font-size: 17px;
    letter-spacing: 2px;
    padding-top: 2px;
}
.p-zi-two{
	float: right;
}
.p-zi-two:after{
	content: "";
	display: block;
	clear: both;
}
.p-zi-two span{
    font-size: 12px;
    line-height: 24px;
    display: block;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 2px;
    float: left;
    margin-left: 15px;
}
.p-zi-two  a{
	display: block;
	padding: 0 15px;
	color: #fff;
}
.p-zi-two span:hover{
	border: 1px solid #fff;
}
.plg-img{display: none;}
.plg-block{
	display: block;
}
.plg-img:after{
	content: "";
	display: block;
	clear: both;
}
.plg-tu{
	float: left;
	width: 229px;
	height: 106px;
	margin-right: 8px;
	position: relative;
}
.plg-er{
	position: absolute;
	bottom: -29px;
	background-color: rgb(128,128,128);
	width: 100%;
	height: 28px;
	opacity: .8;
}
.plg-er-din{
	float: right;
	margin-top: 7px;
	color: #000;
    padding: 0 3px;
    background-color: #555;
    border-radius: 1px;
    margin-right: 8px;
}
.plg-tu-two{
	margin: 0;
}
.plg-tu img{
	width: 100%;
}
.foolr{
	margin-top: 130px;
	padding-left: 250px;
	margin-bottom: 50px;
}
.foolr:after{
	content: "";
	display: block;
	clear: both;
}
.foolr h2{
	font-weight: normal;
	color: #fff;
    margin: 0 0 10px;
    font-size: 17px;
    letter-spacing: 2px;
}
.foolr-left{
	width: 368px;
	height: 387px;
	float: left;
	position: relative;
}
.foolr-left img{
	width: 100%;
}
.plg-f{position: absolute;bottom: -28px;}
.plg-d{position: absolute;bottom:0px;height: 24px;}
.foolr-right{
	padding-left: 370px;
}
.foolr-right:after{
	content: "";
	display: block;
	clear: both;
}
.f-one{
	width: 173px;
	height: 205px;
	float: left;
	margin-left: 8px;
	margin-bottom: 5px;
	position: relative;
}
.f-one img{
	width: 100%;
}
.foodr{background-color: #000;color: #8f98a0;padding: 0 10px;}
.foodr-padd{
	padding-left: 250px;
	padding-top: 25px;
	text-align: center;
	padding-bottom: 25px;
}
.foodr-ji{
    text-align: center;
    background-image: url(../img/xianxian.png);
    font-weight: normal;
    background-repeat: repeat-x;
    font-size: 24px;
}
.foodr-ji span{
    color: #67c1f5;
    background-color: #000;
    padding: 0 8px;
}
.foodr-p{
	font-size: 15px;
    color: #8f98a0;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
    font-weight: normal;
    margin-top: 15px;
}
.f-button{
	background: linear-gradient( to bottom, #a4d007 5%, #536904 95%);
	text-align: center;
    color:#ccc;
    border-radius: 4px;
    border: 2px solid #172030;
    cursor: pointer;
    padding: 0 15px;
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
	margin: 17px 0;
	outline: none;
}
.f-button:hover{
	background: #a4d007;
	color: #fff;
}
.foodr-p span{
	color: #fff;
}
.p-1{
	margin: 0;
}
.dot-plg{
	top: 25px;
	left: 45px;
}



























/*............................尾部..............................................*/
.footer{
	background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.5) 100%);
	padding: 45px 0 40px 0;
	color: #8F98A0;
	font-size: 12px;
	line-height: 16px;
}
.footer a{
	color: #c6d4df;
	display: inline-block;
}
.footer a:hover{
	color: #fff;
}
.centerTwo{
	padding-left: 250px;
}
.footerTop{
	overflow: hidden;	
}
.footerTop .xinxi{
	float: left;
	padding-left: 10px;
}
.footerTop img{
	display: block;
	float: left;
	width: 92px;
	height: 32px;
}

.footerTop .footerLog{
	float: right;
}


.footerBottom{
	overflow: hidden;
	margin-top: 20px;
	font-size: 13px;
}
.footerBottom li{
	float: left;
}

.footerBottom img{
	position: relative;
	top: 3px;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 7px;
}








.Body{
	background: #1b2838
}
.center-two{width: 940px;margin: 0 auto;}
.head-center-two{right: 0;}
.nav-rigth-two{padding-left: 0;}
.htvb-se{
    background-image: url(../img/anying.png);
   	background-position: bottom;
   	width: 100%;
    padding-bottom: 1px;
    background-repeat: no-repeat;
}
.htvb-span{
	color: #56707f;
    font-size: 12px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    margin-top: 25px;
}
.htvb-span a{
	color: #8f98a0;
}
.htvb-fl:after{
	content: "";
	display: block;
	clear: both;
}
.htvb-p{
	color: white;
    font-family: Motiva Sans, Arial, Helvetica, sans-serif;
    font-size: 26px;
    line-height: 32px;
    padding: 5px 0;
    float: left;
}
.htvb-fl{padding-bottom: 12px;}
.htvb-fl .shequ{
	display: block;
	width: 92px;
	height: 32px;
	float: right;
	background-color: rgba( 103, 193, 245, 0.2 );
	color: #67c1f5;
	border-radius: 2px;
	line-height: 32px;
	text-align: center;
	font-size: 15px;
}
.shequ:hover{
	background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
	color: #fff;
}
.sert{
	background: -webkit-gradient(linear, left top, right top, color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.4)));
}
.sert:after{
	content: "";
	display: block;
	clear: both;
}
.sert-ul li{
	display: none;
}
.sert-ul .fousr{
	display: block;
}
.sert-left{
	position: relative;
	top: 0;
	left: 0;
	width: 600px;
	overflow: hidden;
 	float: left;
	height: 440px;
}
.sert-sun{
	width: 600px;
}
.sert-none{
	position: relative;
	top: 0;
	left: 0;
	margin: 3px;
	display:flex;
	justify-content:space-between;
}
.sert-none span{
	display: block;
	width: 116px;
	height: 65px;
	margin: 0 2px;
	position: relative;
	left: 0;
	top: 0;
	right: 0;
	cursor: pointer;
}
.sert-none img{width: 99%;height: 100%}
.kuang{
	width: 116px;
	height: 77px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	cursor: pointer;
}
.kuang img{
	width: 100%;
}
.sert-nav{
	height: 18px;
	position: relative;
	top: 7px;
	left: 0;
	width: 600px;
}
.sert-n-left{
    left: 0;
}
.sert-n-right{
    right: 0;
}
.sert-n-name{
	position: absolute;
    width: 38px;
    height: 18px;
    top: 0;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgba( 35, 60, 81, 0.8);
}
.sert-n-name:hover{
	background: linear-gradient(135deg, #3d6c8d 0%,#2e5470 100%);
}
.sert-nav .name{
	display: inline-block;
    background-position: -18px 0px;
    background-repeat: no-repeat;
    width: 9px;
    height: 7px;
    background-image: url(../img/jian.png);
    background-repeat: no-repeat;
    margin-left: 13px;
    margin-top: 5px;
}
.sert-n-right:hover .name{
	background-position: -9px -7px;
}
.sert-n-left:hover .name{
	background-position: -18px -7px;
}
.sert-n-right .name{
	background-position: -9px 0px;
	margin-left: 16px;
}
.sert-n-center{
	position:relative;
	width: 522px;
	height: 18px;
	top: 0;
	left: 39px;
	right: 39px;
	background-color: rgba(0,0,0,.2);
}
.sert-n-center .tuodong{
	width: 60px;
	height: 18px;
	cursor: pointer;
	background-color: rgba( 35, 60, 81, 0.7 );
	border-radius: 3px;
	position: absolute;
	top: 0;	
}
.sert-n-center .tuodong:hover{
	background: linear-gradient(135deg, #3d6c8d 0%,#2e5470 100%);
}
.sert-right{
	float: right;
	width: 324px;
	color: #c6d4df;
    font-size: 12px;
}
.sert-r-img{
	height: 151px;
	margin-bottom: 7px;
}
.sert-r-img img{
	width: 100%;
}
.sert-r-zi{
	max-height: 111px;
    overflow: hidden; 
    font-size: 13px; 
    line-height: 18px; 
    padding-right: 16px; 
}
.user_reviews {
    font-size: 12px;
    color: #556772;
    margin-top: 10px;
}
.user_reviews .subtitle, .glance_ctn .subtitle {
    text-transform: uppercase; 
    font-size: 10px; 
    padding-right: 10px;
    min-width: 94px;
}
.user_reviews_summary_row, .release_date,.dev_row{
    display: flex;
    line-height: 16px;
}
.release_date{
	padding-top: 9px;
	padding-bottom: 13px;
}
.dev_row a{
	color: #67c1f5;
	line-height: 16px;
	font-size: 12px;
}
.dev_row a:hover{
	color: #fff;
}
.glance_tags_ctn {
    margin: 10px 0px 0px 0px;
    font-size: 11px;
}
.glance_tags_label {
    line-height: 19px;
    font-size: 12px;
    color: #556772;
}
.glance_tags {
    white-space: nowrap;
    height: 22px;
}
.app_tag {
    display: inline-block;
    line-height: 19px;
    padding: 0 7px;
    color: #67c1f5;
    background-color: rgba( 103, 193, 245, 0.2 );
    box-shadow: none;
    margin-right: 2px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 3px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.app_tag:hover{
	background: linear-gradient(135deg, #67c1f5 0%,#417a9b 100%);
	color: #fff;
}
.obc{
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
    color: #c6d4df;
    font-size: 12px;
}
.queue_ctn{
    background: rgba( 0, 0, 0, 0.2 );
    margin-bottom: 16px;
}
.queue_actions_ctn{
	padding: 16px;
}
.queue_actions_ctn p{display: inline;}
.queue_actions_ctn a{
	color: #fff;
}
.queue_actions_ctn a:hover{
	color:#66c0f4; 
}
.page_content{
	font-family: Arial, Helvetica, sans-serif;
    color: #c6d4df;
    font-size: 12px;
}
.page_content:after{
	content: "";
	display: block;
	clear: both;
}
.leftcol-L{
	width: 616px;
    float: left;
    font-size: 14px;
    color: #acb2b8;
    margin-top: 16px;
}
.purchase_note{
	border: 1px solid #a25024;
    border-radius: 3px;
    width: 584px;
    color: #acb2b8;
    font-size: 14px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    padding: 15px 15px;
    margin-bottom: 15px;
}
.purchase_note b{
	font-weight: normal;
    color: #f47b20;
}
.game_area_purchase_game_wrapper{
	margin-bottom: 28px;
	font-size: 14px;
    color: #acb2b8;
    font-family: Arial, Helvetica, sans-serif;
}
.game_area_purchase_game{
	background: linear-gradient(135deg, rgba(97,100,101,0.3) 0%,rgba(226,244,255,0.3) 100%);
	font-size: 12px;
    color: #b0aeac;
    padding: 16px;
    padding-bottom: 26px;
    position: relative;
    z-index: 1;
}
.game_area_purchase_game:after{
	content: "";
	display: block;
	clear: both;
}
.game_area_purchase_game h1{
	font-size: 21px;
    font-family: "Motiva Sans", Sans-serif;
    color: #ffffff;
    font-weight: normal;
    float: left;
}
.game_area_purchase_platform{
	float:right;
}
.game_area_purchase_platform span{
	display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}
.win{
	background-image: url(../img/win.png);
}
.game_area_purchase_platform .hmd_separator{
	border-left: 1px solid #CCC;
    width: 1px;
    margin: 0px 5px;
}
.htcvive{
	background-image: url(../img/htc.png);
}
.oculusrift{
	background-image: url(../img/oc.png);
}
.game_purchase_action{
	position: absolute;
    right: 16px;
    bottom: -17px;
    left: 16px;
    text-align: right;
}
.game_purchase_action_bg{
	height: 32px;
    vertical-align: bottom;
    display: inline-block;
    background-color: #000000;
    padding: 2px 2px 2px 0px;
    border-radius: 2px;
    border-radius: 2px;
    white-space: nowrap;
    font-size: 0;
}
.game_purchase_price{
	background-color: #000000;
    font-size: 13px;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
    height: 24px;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
.btn_addtocart{
	font-size: 12px;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
.btn_addtocart a{
	border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #D2E885;
  	background: linear-gradient( to bottom, rgba(121,153,5,1) 5%, rgba(83,105,4,1) 95%);
}
.btn_addtocart span{
	border-radius: 2px;
    display: block;
    background: transparent;
    text-shadow: -1px -1px 0px rgba( 0, 0, 0, 0.1 );
    padding: 0 15px;
    font-size: 15px;
    line-height: 30px;
}
.early_access_announcements{
	margin: 30px 0 0px 0;
	font-size: 14px;
    color: #acb2b8;
}
.early_access_announcements .ear-h2{
	text-transform: uppercase;
    color: #fff;
    margin: 0 0 10px;
    font-size: 17px;
    letter-spacing: 2px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    padding-top: 2px;
    background-image: url(../img/rule.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    padding-bottom: 3px;
}
.ear-h2 a{
	float: right;
    background-color: rgba( 103, 193, 245, 0.2 );
    border-radius: 1px;
    color: #67c1f5;
    font-size: 11px;
    padding: 2px 4px;
    line-height: normal;
}
.ear-h2 a:hover{
	background: linear-gradient(135deg, #67c1f5 0%,#417a9b 100%);
	color: #fff;
}
.post{
	color: #8f98a0;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
}
.container{
	height: 195px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.container h2{
	color: #56707F;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    height: auto;
    margin: 5px 0 0 0;
    background: transparent;
    line-height: 14px;
}
.container h1{
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    font-weight: normal;
}
.container a{
	color: #ffffff;
}
.br{
	background-color: #2f4459;
    height: 1px;
    margin: 5px 0;
}
.post .more a{
	color: #67c1f5;
    text-transform: uppercase;
    font-size: 11px;
}
.post .comments{
	color: #56707F;
    font-size: 11px;
    float: right;
    display: block;
}
.game_page_autocollapse_ctn{
	position: relative;
	font-size: 14px;
    color: #acb2b8;
}
.game_page_autocollapse{
	overflow: hidden;
}
.game_area_description{
	line-height: 1.5em;
    font-size: 14px;
    margin-top: 30px;
    overflow: hidden;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
}
.game_area_description h2{
	text-transform: uppercase;
    color: #fff;
    margin: 0 0 10px;
    font-size: 17px;
    letter-spacing: 2px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    padding-top: 2px;
    line-height: 26px;
    background-image: url(../img/rule.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}
.game_area_description .bb_ul{
	color: #acb2b8;
    margin-left: 16px;
}
.bb_ul li{
	margin-bottom: 8px;
    list-style-type: square;
}
.sys_req{
	margin-top: 30px;
}
.sys_req h2{
	text-transform: uppercase;
    color: #fff;
    margin: 0 0 10px;
    font-size: 17px;
    letter-spacing: 2px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    padding-top: 2px;
    background-image: url(../img/rule.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}
.sysreq_contents{
	margin-top: 10px;
	font-size: 12px;
}
.game_area_sys_req_leftCol{
	float: left;
    width: 300px;
}
.game_area_sys_req_leftCo ul,.game_area_sys_req_rightCol ul{
	list-style-type: none;
	margin-left: 0px;
    line-height: 18px;
}
.game_area_sys_req_leftCol li,.game_area_sys_req_rightCol li{
	list-style-type: none;
}
.game_area_sys_req_leftCol strong,.game_area_sys_req_rightCol strong{
	font-weight: normal;
    font-size: 11px;
    color: #4582A5;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 4px;
}
.bb_ul{
	margin-left: 0;
}
.bb_ul strong{
	color: #61686D;
    font-size: 12px;
    margin-right: 4px;
    font-weight: normal;
    margin-bottom: 2px;
    text-transform: none;
}
.game_area_sys_req_rightCol{
	margin-left: 8px;
	float: left;
    width: 300px;
}
.block{
    margin-top: 40px;
    margin-bottom: 16px;
    font-size: 14px;
    color: #acb2b8;
}
.block_header .right{
	margin-right: 3px;
} 
.right a{
	float: right;
    background-color: rgba( 103, 193, 245, 0.2 );
    border-radius: 1px;
    color: #67c1f5;
    font-size: 11px;
    padding: 2px 4px;
}
.block_header h4{
	padding-bottom: 3px;
    background-image: url(../img/rule.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 10px;
    font-size: 17px;
    letter-spacing: 2px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    padding-top: 2px;
}
.store_horizontal_autoslider_ctn{
	overflow: hidden;
    margin-bottom: 2px;
    font-size: 14px;
    color: #acb2b8;
}
.recommended_block_content .recommended-a{
	float: none;
    display: inline-block;
    vertical-align: top;
    background-color: rgba( 0, 0, 0, 0.2 );
    padding: 15px 15px;
    height: 100px;
    margin-right: -1px;
    border: 1px solid rgba( 0, 0, 0, 0 );
}
.recommended-a img{
	width: 171px;
}
.recommended-a:hover{
	border: 1px solid rgba( 103, 193, 245, 0.5 );
}
.recommended-a h4{
	font-size: 13px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-weight: normal;
    color: #8f98a0;
    width: 171px;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0px;
}
.discount_block_inline {
    line-height: 15px;
}
.discount_block {
    position: relative;
}
.discount_pct{
	padding: 0 3px;
	color: #a4d007;
    background: #4c6b22;
    display: inline-block;
}
.discount_block .discount_prices{
	padding: 0 5px;
	display: inline-block;
    text-align: right;
    background: #000000;
}
.discount_original_price{
	display: inline;
	text-decoration: line-through;
    color: #626366;
    font-size: 11px;
}
.discount_final_price{
	display: inline;
	padding-left: 4px;
    font-size: 11px;
    color: #acdbf5;
}
.sert-n-center-two{
	width: 538px;
}
.sert-nav-two{
	width: 616px;
}
.leftcol-R{
	margin-top: 16px;
    overflow: hidden;
    width: 308px;
    margin-left: 14px;
    float: right;
}
.sb{
	margin-bottom: 0;
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    font-size: 16px;
    padding: 10px 18px;
}