*{margin:0;padding:0;}
body{font-size:12px;background-color:#173d57;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
li{list-style:none;display:inline-block;}
a{display:inline-block;text-decoration: none;color: #b8b6b4;}
em{display: inline-block;font-style: normal;}
i{display:inline-block;font-style: normal;}
a:hover{color: white;}
.clear{clear: both;}
.banxin{width:940px; margin:0px auto;padding-left:90px;}
.blue{
	color:#4f94bc;
}
.whitexian{
	border-bottom:1px solid white;
	width:75px;
	height:1px;
	margin-left:11px;
	margin-bottom:3px;
}

.rp{
	background-color: #1b2838;
}
.black{
	background-color:#171a21;
}
.wrap{
    width:940px;
    height:104px;
    margin:0px auto;
   	background-color:#171a21;
}
#long{
	float:left;
	margin-top:31px;
	margin-right:40px;
}
.shangdian{
	float: left;
	line-height: 104px;
	font-size: 14px;
}
.shangdian a{
	padding:0 5px;	
}
/*...........................二级导航........................*/
	.shop{
		position: relative;
		width:45px;
	}
	.shop .muse{
		position: absolute;
		width:90px;
		background-color:#171a21;
		top:60px;
		left:0px;
		line-height: normal;
		box-shadow: 0 0 5px black;
		z-index: 2;
		display: none;

	}
	.muse a{
		padding-top:5px;
		padding-bottom:10px;
		padding-left:15px;
	}
	.shop:hover .muse{
		display: block;
	}
/*......................................*/
	.right{
		height:21px;
		line-height: 21px;
		float:right;
		position: relative;
		margin-top:10px;
	}
	.gang{
		color: white;
		margin:0 5px;
	}
	.lo{
		width: 24px;
		height: 21px;
		background-image: url(images/btngreen.png);
		position: absolute;
	}
	.anzhuang{
		color:#dedede;
		padding-left:30px;
		margin-right: 10px;
		background-color:#6f8d02; 
		height:21px;
		padding:3px 10px 3px 35px;
	}	
	.anzhuang:hover{
		color:#fff;
		}
/*、、、、、、、、、、、侧边栏、、、、、、、、、、、、、、、、、*/
	.center{
		margin-top:30px;
		position: relative;	
	}
	.steam{
		position: absolute;
		left:30px;
		width:200px;
	}
	.steam img{
		width:200px;
	}
	.steam h6{
		color: #cecece;
		margin:13px 0 10px 0px;
		font-weight:normal;
	}
	.steam h6 p{
		color:#66c0f4;
		margin:9px 0 5px 0px;
		font-size: 14px;
		line-height:8px;
	}
	.steam p:hover{
		cursor: pointer;
		color: white;
	}
	.xuebi{
		display: inline-block;
		width: 16px;
		height: 16px;
		background-image:url(images/xuebitu.png);
		margin:0 5px;
	}
	.gutter_item-item{
    background-position: -16px 0px;
	}
	.gutter_item-a{
    background-position: -16px 0px;
    }
    .gutter_item-b{
    background-position: -32px 0px;
    }
     .gutter_item-c{
    background-position: -48px 0px;
    }
     .gutter_item-d{
    background-position: -64px 0px;
    }
     .gutter_item-e{
    background-position: -80px 0px;
    }
     .gutter_item-f{
    background-position: -96px 0px;
    }
     .gutter_item-g{
    background-position: -112px 0px;
    }
     .gutter_item-h{
    background-position: -128px 0px;
    }
  	.gutter_item-v{
    background-position: -144px 0px;
    }
     .gutter_item-k{
    background-position: -160px 0px;
    }
     .gutter_item-r{
    background-position: -176px 0px;
    }
/*,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,*/
	.store{
		width: 940px;
	 	background: rgba( 62, 126, 167, 0.8);
	 	/*overflow: hidden;*/
	 	height:35px;
	}
	.hide span{
		display:inline-block;
		width: 19px;
		height: 12px;
		background-image: url(images/sanjiao.png);
	}
	.store .hide{
		display: block;
		padding:0px 20px;
	    background: rgba( 62, 126, 167, 0.8);
	    border-right: 1px solid rgba( 16, 21, 25, 0.3);
		float: left;
		line-height: 34px;
		text-align: center;
		position: relative;
	}
	.hide:hover{
		background-color: #ccd8e2;
	}
	.store .hide:hover a{
		 color:black;
	}
	.store .hide:hover .tab{
		display: block;
	}
	.tab{
		position: absolute;
		width: 110px;
		background-color:#c6d4df;
		display: none;
		position: absolute;
		left: 0;
		top:34px;
		box-shadow: 0 0 12px #000000;
		padding:5px 0;
		z-index: 3;
	}

	.tab a{
		min-width: 85px;
		text-align:left;
		padding:0 0 0 10px; 
		color: black;
		line-height: normal;
		line-height:30px;

	}
	.hide .tab li:hover a{
		background-color:#212d3d;
		color: white;
	}
/*888*/
	.inputright{
		float:right;
	}
	.inputright input{
	    height: 28px;
	    width: 192px;
	    margin: 2.5px;
	    border-radius: 3px 1px 1px 3px;
	    background-color: #316282;
	    border: 1px solid #22445b;
	    font-size: 12px;
	    padding-left: 10px;
	    font-style: italic;
	}
	.p{
		
		position: relative;
	}
	.chaxun{
		display: inline-block;
		position:absolute;
		top:6px;
		right:5px;
		width:25px;
		height:25px;
		background-image: url(images/chaxun.png)
	}
/*精选和推荐*/
	h2{
	    color: #fff;
	    margin: 20px 0 10px;
	    font-size: 17px;
	    font-weight:normal;
	}
	.top39{
	    margin-top:39px;
		
	}
	.jingxuan{
		width: 616px;
		height: 353px;
		/*border:1px solid red;*/
		float: left;
		margin-right:5px;
		overflow: hidden;
	    box-shadow: 2px 0px 17px 3px #000;
	    background-color:#000;
	}
	.jingxuan img{
		width: 616px;
		height: 353px;
	}
/*,,,,,推荐，，，，*/
	#TUjian{
		width: 314px;
		height: 353px;
		overflow: hidden;
	}
	.tuijian{
		width: 314px;
		height: 353px;
		float: left;
		background-color:#0a141d;
		position:relative;
		
	}
	.nba{
		font-size: 24px;
	   	color:white; 
	   	width: 300px;
	   	line-height: 72px;
	   	margin:0 auto;
	}
	.k18{
		overflow:hidden;
		cursor: pointer;
	}
	.k18 img{
		width: 149px;
		height: 69px;
		float: left;
		background-color:red;
		margin-right:8px;
		margin-bottom:8px;
	}
	.tuijian .padding0{
		padding-bottom: 0;
		line-height:45px;
	}
	.rexiao{
		width: 62px;
		height: 19px;
		margin-left:8px;
		color: white;	
		text-align: center;
		background-color: rgba( 255, 255, 255, 0.2 )
	}
	#win{
		display: inline-block;
		background-image: url(images/win.png);
	    width: 20px;
	    height: 20px;
	    position: absolute;
	    bottom:12px;
	    right:12px;
	}
	#jiaqian{
		position:absolute;
	 	bottom:12px;
	    left:12px;
	    color:#acdbf5;
	    transition: opacity 300ms;
	}
/*两个按钮*/
	.jt{
		width:940px;
		height:390px;
		position: relative;
	}
	.a-left,.a-right{
		width: 45px;
		height: 108px;
		top:30%;
		position: absolute;
		cursor: pointer;
		background: linear-gradient( to right, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
	}
	.a-left{
		left:-49px;
		line-height:108px;
	}
	.a-left em,.a-right em{
		position: absolute;
		width: 23px;
		height: 36px;
		top:35%;
		right:0;
	/*	border:1px solid yellow;*/
		background-image: url(images/left.png);
	}
	.a-right{
		right:-44px;
	}
	.a-left em{
		right:25%;
		background-position: 24px 0;
	}
	.a-right em{
		left:25%;
	}
/*小圆点*/
	.Dots{
		width:250px;
		height:9px; 
		margin:12px auto;
	}
	.yuandian{
		width:250px;
		height:9px; 
		margin:12px auto;
		position: absolute;
		bottom:-50px;
		left:45%;
	}

	.dots{
		width: 15px;
		height: 9px;
	    background-color: hsla(202,60%,100%,0.2);
	    float: left;
	    margin-right:5px;
	    cursor: pointer;
	}
	.cece{
		background-color:#767e88;
	}
/*第二个轮播图*/
	.jt-a{
		width:940px;
		height:391px;
		position: absolute;
		left: 0;
		top:0;
	}
	.jt.height{
		position: relative;
		/*height:391px;*/
	}
	.fzt img{	
		width: 306px;
		margin-right:11px;
	}
	.fzt {
		float: left;
		position: relative;
	}
	.fzt-a img{
		width:306px; 
		display: block;
	}
	.fzt-a{
		height:190px;
		position:relative;
		margin-bottom:13px;
	}
	
	.blue{
		width:280px;
		position: absolute;
		bottom:11px;
		left:15px;
	}
	.imga{
		position: relative;
		display: block;
		cursor: pointer;
	}
	.imgb{
		position: absolute;
		bottom:-38px;
		left:0px;
		width:306px;
		height:114px;
		background-image: url(images/blue.jpg);
	}
	
/**/
	.discount_pct{
	    line-height:35px;	
	    width:274px;
	    height: 34px;
	    position: absolute;	
	    bottom:-43px;
	}
	.discount_ppp{
		display: inline-block;
	    background-color: #4c6b22;
	    color: #a4d007;
	    width: 71.58px;
	    height: 34px;
	   	font-size: 26px;
	   	float: left;
	}
	.discount_ddd{
		display:inline-block;
		width: 42px;
		height:34px;
		line-height:normal;
		text-align: center;
		float:left;
	    background-color: rgba(0,0,0,0.6);
	}
	.discount_em{
		color: #acdbf5;
	}
	.discount_ddd .det{
	    text-decoration: line-through;
	}
	.store_capsule{
		height:50px;
		width:306px;
		background-image: url(images/blue.jpg);
		background-position: 0px 69px; 
		position: absolute;
		right:0;
		bottom:0px;
	}
	.discount{
		width: 117.8px;
		height: 34px;
		/*border: 1px solid red;*/
		float:right;
		margin-top:10px;
	}
	.kong{
		width:100%;
		height:15px;
	}
	.kongk{
		width:100%;
		height:48px;
	}
/*浏览 STEAM*/
	.btn{
	    width: 226px;
	    line-height: 56px;
	    text-align: center;
	    background-image:url(images/blue.jpg); 
	    background-position: 0px 63px;
	    color: #66c0f4;
	    font-size: 18px;
	    margin-right:8px;
	    border-radius:3px;
	}
/*为您建议鉴赏家*/
	.jianshangjia{
		position: relative;
	}
	.jtb{
		width:940px;
		height:368px;
		overflow: hidden;
	}
	.Jshang{	
		width:940px;
		height:368px;
		background: linear-gradient( 153deg, rgba( 255, 255, 255, 0.2) 5%,rgba( 255, 255, 255, 0.1) 95%);
	}
	.guanzhu{
		width: 906px;
		height: 64px;
		margin:0px auto;
		padding-top:16px;
	}
	.margin0{
		margin:0;
	}
	.blbl{
		display: inline-block;
		width: 494.47px;
		height:64px;
		/*border:1px solid red;*/
		margin-left: 10px;
		position:relative;
	}
	.name{
		font-size:19px; 
	    color: #c7d5e0;
	    position: absolute;
	    top:0;
	    left: 0;
	}
	.actions{
		display: inline-block;
		width: 153.58px;
		height: 38px;
	    background-color: rgba(0,0,0,0.2);
	    position: absolute;
	    left:0;
	    bottom: 0;
	}
	.follow_button {
		display: inline-block;
		width: 62px;
		height: 32px;
		line-height: 32px;
		text-align: center;
		position: absolute;
		bottom: 0px;
		left: 0;
	    background: linear-gradient( to bottom, #799905 5%, #536904 95%);
	}
	.follow_button:hover{
		background: linear-gradient( to bottom, #b6d908 5%, #80a006 95%);	
	}
	.followers{
		position: absolute;
		right:24px;
		bottom:18px;
		display: inline-block;
		width: 61.58px;
		height: 18px;
	}
	.followers em{
		font-size: 15px;
		color: #c6d4df;
	}
	.store_{
		width: 906px;
		height: 279px;
		margin:0px auto;
		margin-top:21px;

	}
	.store_img{
		height: 114px;
		width: 218.75px;
		/*border: 1px solid red;*/
		position: relative;
		float: left;
		margin-right:8px;
	}
	.store_img img{
		width: 100%;
	}
	.text{
	    color: #c6d4df;
	    font-size: 12px;
	    line-height:17px;
	}
	.lanzi{
	    color: #66c0f4;
	    line-height: 23px;
	    font-size: 13px;
	}
	.Jshang .margin1{
		margin-right: 0;
	} 
	.dotsyuan{
		width: 15px;
		height: 9px;
	    background-color: hsla(202,60%,100%,0.2);
	    float: left;
	    margin-right:5px;
	    cursor: pointer;
	}
/*新品与热门商品*/
	.tab_content{
		color:#4f94bc;
		padding:8px 10px; 
		font-size: 13px;
		border-radius:3px 3px 0 0;
	}
	.click{
		background-color: #173d57;
		color: white;
	}

/*弹出层*/
	.fix{
		width:100%;
		height:100%;
		background-color:#090909;
		position:fixed;
		left: 0;
		top:0;
	}
	.kuang{
		position:fixed;
	    left: 416px;
	    top: 92px;
		width:500px;
		height:138px;
		background-color:#1d1d1d;
	    border-bottom: 1px solid #4a4943;
	    border-top-left-radius: 4px;
	    border-top-right-radius: 4px;
	}
	.ellipsis-n{
		width:100%;
		height:44px; 
		background-color:#343332;
		border-top-left-radius: 4px;
	    border-top-right-radius: 4px;
	    border-bottom: 1px solid #4a4943;
	}
	.ellipsis{
		width:460px;
		height:44px; 
		margin:0 auto;
		background-color:#343332;
		color:white;
		font-size: 17px;
	}
	.newmodal_header{
		line-height:44px; 
		float: left;
	}
	.newmodal_close{
		float: right;
		line-height:44px; 
		cursor: pointer;
		opacity: 0.7;
	}
	.newmodal_close:hover{
		opacity: 1;
	}
	.button-n{
		float: right;
		font-size: 15px;
	    line-height: 30px;
	    padding: 0 15px;
	    background-color:#576068;
	    border: 0;border-radius: 2px;
	    background: linear-gradient( to bottom, #778088 5%, #414a52 95%);
	}
	.button-n:hover{
		background-color: #fff;
		cursor: pointer;
	}
	.newmodal_content{
		width:460px;
		height:44px; 
		margin:19px auto;
		background-color:#1d1d1d;
		color:#8f98a0;
		font-size:12px;
	}
	/*........cp............*/
	.cp{
	  
	    background-color:#111923;
	}
	.position{
		position: relative;
		/*display: none;*/
	}
	.displayy{
		display: block;
	}
	.xinpin{
		/*width:450px;*/
		display: inline-block;
		background-color:#1b2838;
		opacity: 0.7;
		float: left;
		margin-top:5.2px;
	}
	/*.tab_item_name:hover{
		background: -webkit-linear-gradient( left, #95bbd4 5%,#859bac 95%);
		width: 490px;
	}*/
	.xinpin img{
		float: left;
	}
	.xinpin:hover .Ruse{
		display: block;
	}
	.tab_item_name{
		float: right;
		height: 61px;
		width: 405px;
		padding-left: 15px;
		padding-right: 15px;
		padding-top:5px;
	}
	.xinpin p:first-of-type{
		color:white;
		font-size: 1.25em;
	}
	.xinpin p:last-of-type{
		color:#384959;
	}
	.win{
		width: 20px;
		height: 20px;
		display:inline-block;
		background-image:url(images/win.png);
		opacity: 0.3;
	}
	.qian{
		float: right;
		color: #acdbf5;
	}
	.Ruse{
		padding: 0 15px;
		position: absolute;
		width: 281px;
		right:0px;
		top:0;	
	}
	.Ruse a{
		color: #fff;
		background-color: rgba( 38, 54, 69, 0.6);
		padding:0 7px;
	}
	.Ruse a:hover{
		color: #66C0F4;

	}
	.xinpin h2:first-of-type{
		color: #263645;	
	}
	.tab_review_summary{
		padding: 5px 7px;
	    margin-bottom: 10px;
	    background-color: rgba( 38, 54, 69, 0.6);
	    width: 258px;
	    border-radius: 2px;
	    color: #fff;
	}
	.tab_review_summary em{
		 color:  #66C0F4;
	}
	.Ruse .right-img{
		width:274px;
		height: 150px;
		margin-top:5px;
	}
	.k1{
		background-image: url(images/k1.jpg)
	}
	.k2{
		background-image: url(images/k2.jpg)
	}
	.k3{
		background-image: url(images/k3.jpg)
	}
	.k4{
		background-image: url(images/k4.jpg)
	}

	/*低于 ¥ 40 第三个轮播图*/
	.capsule{
		width: 940px;
		height:134.66px;
		background-color:black;
		position:relative;
	}
	.capsule-d{
		width: 940px;
		height:134.66px;
		position: absolute;
	}
	.capsule-kk{
		width: 940px;
		height:134.66px;
		position: relative;
	}
	.capsule-h{
		width:229px;
		height:134.66px;
		background-image:url(images/blue.jpg);
		display: inline-block;
		margin-right:4px;
		position: relative;
		top:0;
		left: 0;
	}
	.sd{
		width:229px;
		height: 106.66px 
	}
	.capsule .margin0{
		margin: 0;
	}
	.capsule .a-left, .capsule .a-right{
		top:11%;
	}
	.toplined_{
		width:280px;
		margin:-19px auto; 
	}
	.ync{
		overflow: hidden;
		width: 280px;
		height: 159px;
	}
	.ync img{
		width: 280px;
		height: 200px;
		
	}
	.fyh{
		background-color:#58656f;;
		padding:5px 0px;
		margin:5px 0 8px 0;
	}
	.fyh p{
		padding-left: 5px;
		color: white;
	}
	.maoxian a{
		background-color:#898977;
		padding:0 5px;
		color: white;
	}
	 .toplined_links{
		width: 300px;
		height:338px;
	    background: -webkit-linear-gradient( left, #95bbd4 5%,#859bac 95%);
		display: inline-block;
		position: absolute;
		cursor: pointer;
		z-index: 2;
		top:0;
	}
.toplined_links{
		left: 230px;
		display: none;
	}
	.capsule-h:hover .toplined_links{
		display: block;
	}
	/*更新与优惠*/
	.home-a,.home_marketing{
		float: left;
	}
	.home-a{
		width: 368px;
		height: 397px;
		
	}
	.home{
		margin-bottom:10px;
	}
	.Home .capsule-h{
		width:175px;
		height: 206px;
		margin-right: 8px;
		position: relative;
	}
	.Home .sd{
		width:100%;
		height: 182px;
	}
	.Home .GU{
		width: 368px;
		height: 421px;
		background-image:url(images/blue.jpg);
		float: left;
		margin-right:15px;
		background-position:0px 13px;
		position: relative;
	}
	.han{
		position: absolute;
		bottom:3px;
		right:5px;
	}
	.han a{
		color: #acdbf5;
	}
	/*正在寻找推荐*/
	.more_{
		 background: #000000;
	}
	.more_content_title{
	font-weight: normal;
    font-size: 24px;
    color: #67c1f5;
    text-align: center;
    background-image: url(images/ggg.png);
    background-repeat: repeat-x;
	}
	.more_content_title span{
    background: #000000;
    padding: 0px 10px;
	}
	.more_ p{
	text-align: center;
    font-size: 15px;
    color:#8f98a0;
    padding-top:25px;
	}
	.button{
		background: linear-gradient( to bottom, #a4d007 5%, #536904 95%);
		width: 66px;
		line-height: 36px;
		text-align: center;
		border-radius: 4px;
    	border: 2px solid #172030;
	}
	.zhucece{
		color: #fff;
		font-weight: normal;
	}
	.zhucece:hover{
		color: #66c0f4;
	}
	/*BUTTON*/
	.logo_valve_footer{
		float: left;
	}
	.logo_steam_footer{
		float: right;
	}
	.logo_center_footer{	
		line-height:15px;
	}
	.logo_center_footer{
		color:#8f98a0;
	}
	.margin-left10px{
		margin-left:10px;
		padding-left:92px;
	}
	.valve_links {
    font-family: "Motiva Sans", Sans-serif;
    font-size: 13px;
    color: #61686D;
	}
	.f,.t{
		width: 16px;
		height:14px;
		display: inline-block;
		margin-right:6px;
	}
	.f{
		background-image: url(images/ico_facebook.gif);
	}
	.t{
		background-image: url(images/ttt.gif);
	}




/*登录页*/
.jtcolor-left{
	width: 616px;
	height: 333px;
	padding:1px 0px 0px 16px;
	background-color: rgba(0,0,0,0.2);
	margin-top:20px;
}
.zhanghu{
	width: 290px;
	height: 211px;
	padding-right:11px;
	float: left;
}
.zhanghu p{
    color: #c6d4df;
    font-size: 12px;
}
.deng{
	display:block;
	padding: 0px 15px;
    font-size: 15px;
    line-height: 30px;
    border-radius: 2px;
    border: none;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    color: #67c1f5 !important;
    background: rgba( 103, 193, 245, 0.2 );
}
.text_input{
	background-color: rgba( 0, 0, 0, 0.2 );
    color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 1px 1px 0px #45556c;
    width: 274px;
    padding: 5px;
    margin: 4px 0;
}

.text-right{
	float: right;
}
.vblue{
	color: #67c1f5;
}
.jtcolor-center{
	padding-left:15px;
	border-left:1px solid #384441;
}
.marginL-20px{
	margin-left: 20px;
}
.jtcolor-left,.jtcolor-right{
	float: left;
}
.jtcolor-right{
	padding-left: 5px;
    margin-top: 20px;
    margin-left: 10px;
	background-color: rgba(0,0,0,0.2);
	color:  #c6d4df;

}
.jtcolor-right li{
	list-style:disc;
	display: list-item;
	line-height:17px;
	margin-left: 15px;
	
}
.rightcol{
	padding:0 10px;
}
.paright{
	padding-right:145px;
	margin-top:10px;
	padding-bottom: 15px;
	border-bottom: 1px solid #999;
}
.paright a{
	color: #ffffff;
}
.paright a:hover{
	color: #67c1f5;
}
.Buttom{
	background-color: #0f161f;
	padding-top:40px;
}
.Buttom .store-gg a{
	padding:2px 15px;
	background: rgba( 103, 193, 245, 0.2 );
	color:#67c1f5 ; 
}
.Buttom .hide-gg{
	position: relative;
}
.Buttom .tab-gg{
	position: absolute;
	background-color:#c6d4df;
	display: none;
	padding-bottom: 5px;
	padding-top: 5px;
}
.Buttom .tab-gg ul{
	text-align: left;
}
.Buttom .tab-gg a{
	display: block;
	color: #000;
	margin:0 5px;
	line-height: 20px;
	background-color:#c6d4df;
	width: 81px;

}

.Buttom .hide-gg:hover .tab-gg{
	display:block;
}
 .tab-gg a:hover{
 	background-color: #212d3d;
 	color: #fff;
 }
 .width25px{
 	width: 25px;
 }
 .hide-gg .smmm a{
 	width: 25px;
 }

/*详情页*/
.PLAY a{
	float: right;
}
.PLAY h2{
	float: left;
	font-size: 26px;
}
.xqy-left{
	/*padding:0 8px;*/
	position: relative;
	width: 600px;
	float: left;
}
.xqyL,.xqyY{
	position:absolute;
	width: 38px;
	height: 18px;
	bottom:0px;
 	background-color: #172532;
	border-radius: 4px;
}
.screenshot{
	display: none;
}
.xqy-left .block{
	display: block;
}
.xqyL:hover,.xqyY:hover{
	background: 
}
.xqyY{
	right: 0;
}
.xqyL{
	left: 0
}
.xqy-left img{
	width:600px;
}

.xqy-right{
	width:324px;
	float: right;
}
.jiantoul,.jiantour{
	position: relative;
	background-image: url(images/jiantou.png);
	background-position:-18px 0px;
	background-repeat: no-repeat;
	display: inline-block;
	left:40%;
	top:0;
	width: 9px;
    height: 7px;
}
.jiantour{
	background-position:-9px 0px;
}
.xqy-right img{
	width: 100%;
}
.paddingr5px{
	padding-right: 5px;
	color: #c6d4df;
	line-height:18px;
	font-size: 13px;
}
.ceping{
	width:104px; 
    font-size: 10px;
    color: #556772;;
}

.vblue-fang a{
	display: inline-block;
	padding: 2px 5px;
    background: rgba( 103, 193, 245, 0.2 );
    color: #67c1f5;
    margin-right: 5px;
}
.xqy-left-img{
	overflow: hidden;
	height: 337px;
	margin-bottom: 5px;
}
/*.xqy-left-img a{
	display: block;
}*/
.xqy-left-img img{
	display: block;
	width:600px; 
	height:338px;
}
.displaySpace{
	position: relative;
	height: 77px;
	width: 600px;
	top:-11px;
	padding-top: 11px;
	overflow: hidden;
}
.slider_ctn{
	position: relative;
	height: 18px;
	top:-15px;
}
.xqy-left-sp{
	position:absolute;
	bottom: 0;
	left: 0;
	height: 77px;
	width: 100000000px;
}
.xqy-left-sp span{
	position: relative;
	display:inline-block;
	width: 117px;
	height: 65px;
	float: left;
	margin-right:3.75px;
}
.xqy-left-sp span:last-child{
	margin-right:0;
}
.xqy-left-sp span i{
	position: absolute;
	top:-11px;
	left: 0;
	width: 116px;
	height:77px;
}
.xqy-left-sp a{
	width: 100%;
	height: 100%;
}
.xqy-left-sp img{
	width:100%;
	height:100%;
	/*border:1px solid red;*/
}
.highlight_slider_left{
	float:left;
}
.highlight_slider_left,.highlight_slider_right{
	text-align: center;
	width:38px; 
	height:18px;
	background-color:#3f4e5d;
	border-radius: 4px;
}
.highlight_slider_left:hover,.highlight_slider_right:hover,#handle:hover{
	background-color: #325a77;
}
.highlight_slider_right{
	float: right;	
}
.highlight_slider_left em,.highlight_slider_right em{
	background-image: url(images/sss.png);
	display: inline-block;
	width: 9px;
    height: 7px;
}
.highlight_slider_left em{
	background-position: -18px 0px;
}
.highlight_slider_right em{
	background-position: -9px 0px;
}
.slider{
	background-color: #212329;
	height: 18px;
	position: absolute;
    left: 39px;
    right: 39px;
    bottom: 0;
  	border-radius: 4px;
}
#handle{
	height: 18px;
    width: 60px;
    cursor: pointer;
    background-color: #3f4e5d;
    border-radius: 4px;
   	bottom: 0; 
}
.game_description_snippet{
	padding-right:16px;
    font-size: 13px;
    line-height: 18px;
    color: #c6d4df;
    margin-top:7px;
}
.xqy-bg{
	background-image: url(images/xqy-bg.jpg);
	background-size:100% 711px;
	background-repeat: no-repeat;
	background-color: #1b2838;
	background-position: 0px 186px;
}
.xqy-right-center p{
	color:#515e6e;
}
.xqy-right-center{
	margin-top:8px;
	margin-bottom: 8px;
}
.cheng{
	color: #B9A074;
}
.det{
	color: #8f98a0;
	line-height: 30px;
}
.all{
	min-width:115px;
}
.vblue-hover:hover{
	color:#fff;
	cursor: pointer;
}
.subtitlecolumn{
	line-height:34px;
}
.app_tag{
	display: inline-block;
	padding: 5px 7px;
	background-color: rgba( 103, 193, 245, 0.2 );
	line-height: 10px;
}

.queue{
	line-height: 45px;
	font-size: 12px;
	color: #c6d4df;
    background: rgba( 0, 0, 0, 0.2 );
	font-size:12px;
	padding: 6px;
	/*position: relative;
	top:0;*/
}	
.border{
	background-image: url(images/baikuang.png);
}
/*Right Column*/
.Column-left{
	width:616px;
	float: left;
}
.Column-right{
	width:308px;
	float: right;
}
.Column-right h2{
	  background-color: #101720;
	font-size: 16px;
	padding: 10px 18px;
	margin: 0;
}
.block{
	background-color: rgba(0,0,0,0.2);
	color: #acb2b8;
    font-size: 14px;
    line-height: 22px;
    padding:15px;
    margin-bottom:8px;
}
.block p{
	padding-bottom:20px;
	position: relative;
}
.Column-right .two p{
	padding:1px;
}
.ne{
	margin-left: 37px;
    height: 22px;
    padding-top: 4px;
    padding-left: 8px;
    line-height: 18px;
    background: rgba( 103, 193, 245, 0.1 );
    color: #67c1f5;
    display: block;
    border-radius: 1px;
    font-size: 12px;
}
.ne:hover{
	background-color:#67c1f5;
}
.icon{
	position: absolute;
    left: 0px;
    width: 30px;
    height: 22px;
    padding-top: 5px;
    padding-left: 6px;
    background-color: rgba( 0, 0, 0, 0.2 );
}
.DRM_notice{
	color: #e1c48a;
	font-size: 12px;
	line-height:14px;
	margin-top:15px;
	padding:8px;
	background-color: #716850;
}
.Td{
	position: relative;
	color: #716850;
	top:-30px;
	left:5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.Table td{
	 border-bottom: 1px solid #626366;
}
.Table .te{
	text-align: left;
}
.communitylink{
	background-color: rgba( 103, 193, 245, 0.2 );
	color: #67c1f5;
	text-align: center;
	padding:5px 5px;
	line-height:15px;
}
.Table{
	width: 100%;
}
.Table td{
	text-align: center;
}
.DRM_notice a{
	color: #fff;
}
.DRM_notice a:hover{
	color:  #67c1f5;
}
.category_icon{
	width: 26px;
	height: 16px;
	position:absolute;
	top:5px;left:8px;
}
.xay-imgle{
	display: none;
}
.block{
	display: block;
}
/*重做首页*/
.bainner {
	position:relative;
}
.bainner li{
	position: relative;
	display: inline-block;
	display: none;
}
.li-div{
	position:absolute;
	width:286px;
	height:340px;
	background-color:#e3e3e3;
	left:-100px;
	top:0;
	padding: 5px 10px;
	cursor:pointer;
	z-index: 2;
}
.li-div h4{
	font-size: 18px;
	color: #263645;	
}
.imgimg{
	width: 100%;
	height:204px;
}
.li-div img{
	width: 100%;
	height: 100%;
	display: none;
}
.li-div .focus{
	display: block;
}
.bainner li{
	height: 387px;
}
.bainner li a{
	height:100%;
}
.bainner li img{
	height:100%;
}
.bainner .focus{
	display:block;
}
.left-left,.right-right{
	position:absolute;
	width:45px;
	height:108px;
	top:50%;
	cursor:pointer;
	margin-top:-54px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0) 95%);
    opacity:1;
}
.left-left{
	left:-45px;
}
.right-right{
	right:-45px;
}
.left-left:hover,.right-right:hover{
	opacity:0.7;
}
.gameWrap{
	/*position:relative;*/
}
.date-date{
	/*position:absolute;*/
	/*bottom:-35px;*/
	margin-left:432px;
	line-height:1px;
	/*left: 50%;*/
}
.date-date .focus{
	cursor:pointer;
	display: inline-block;
	margin-right:15px;
	width: 15px;
	height:8px;
	background-color: hsla(202,60%,100%,0.3);
	opacity: .3;
}
.gameWrap .date-date .focus-xian{
	opacity:1;
}
.bainner .info-left{
	position: relative;

	float: left;
	width: 616px;
	height: 382px;
}
.info-left img{
	width: 100%;
	height: 100%;
}
.none{
	position: absolute;
	left: 0;
	top:0;
}
.info-left a{
	width: 100%;
}
.bainner .info-right{
	height:382px;
	padding-left: 5px;
	width: 314px;
	float:right;
	background-color: #0a141d;
}
.info-right h2{
	padding-left: 5px;
	font-size: 24px;
}
.screenshots{
	background-color: #0a141d;
}
.screenshots img{
	width: 149px;
    height:69px;
    margin-top:5px;
    margin-right: 5px;
    cursor:pointer;
}
.screenshots-bottom{
	position: relative;
	bottom:-30px;
	width: 295px;
	padding-left: 5px;
	padding-right: 5px;
	overflow: hidden;
}
.price{
	color: #acdbf5;
	font-size: 11px;
}
.Selling{
	background-color: rgba( 255, 255, 255, 0.2 );
	color: white;
	opacity: .6px;
	padding:2px 5px;
}
.launch{
	color:#fff;
	font-size: 20px;
	padding:5px 0 0px 0;
}
.fl-l{
	float: left;
}
.fl-r{
	float: right;
}
/*鼠标以上*/
.shubiaoyishang img{
	display:none;
}
.none{
	display: none;
}
.Ruse-img{
	width:274px;
	height: 150px;
	margin-top:5px;
}
.Ruse-img img{
	width: 100%;
	height:100%;
}
.Ruse-a{
	height:733px;
}
.tab_item_name:hover{
	background-color: #9fc5db;
	color:#000; 
}
.tab_item_name:hover .qian{
	color:#000;
}
.tab_item_name:hover p{
	color:#000;
}
.position .fgi{
	background-color: #9fc5db;
	width:630px;
	color: #000;
	cursor: pointer;
}
.Ruse-background{
	width: 310px;
	height: 745px;
	background-color: #9fc5db;
	position: relative;
	float:right;
	/*padding-left:15px;
	padding-right:15px;\
	text-align: center;*/
}

.position{
	float: left;
	width: 625px;
}
.banxin .disblock{
	display: block;
}
.xuanka-all{
	display:none;
}
/*第四个轮播图*/
.gameWrap .linone li{
	height:134.66px;
}
.ba-img{
	width:232px;
	height: 134.66px;
	display:inline-block;
	background-image: url(images/blue.jpg);
	background-position:0px 0px;
	text-align: right;
}

.ba-img>div{
	width: 232px;
	height: 106px;
}
.ba-img img{
	width: 100%;
	height: 100%;
}
.lu{
	color:#263645;
}
.Ruse-background h2{
	color:#263645;
	font-size: 21px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top:0;
}

.pingguo{
	background-image:url(images/pingguo.png);
	width: 20px;
	height:20px;	
	display:inline-block;
	/*opacity: .3;	*/
}
.game_area_purchase_game h2{
	background-color:#485562;
	font-size: 21px;	
	padding:20px 10px;
}
.Column-left h2:first-of-type{
	margin-top:0;
}
.f7{
	color: #56707F;
}
 .whi{
	color: #fff;
    font-size:24px;
}
.small{
	background-image:url(images/xiaolog.png);
	width: 20px;
	height:20px;	
	display:inline-block;
	/*opacity: .3;	*/
}
.container-left{
	width: 45%;
	float: left;
}
.container-left,.container-right{
	margin-top:15px;
}
.container-right{
	float: right;
}
.textright{
	display:inline-block;
	float: right;
}
.textright .win{
	background-image:url(images/win.png);
	width: 20px;
	height:20px;	
	display:inline-block;
	opacity: 1;
}
.game_area_purchase_game{
	position: relative;
	margin-bottom: 38px;
}
.gouwuche{
	background-color: #000;
	position: absolute;
	bottom:-24px;
	right:20px;
}
.package_contents{
	display: inline-block;
}
.gouwuche a{
	padding: 12px 12px;
}
.gouwuche span{
   background: linear-gradient( to bottom, rgba(121,153,5,1) 5%, rgba(83,105,4,1) 95%);
    cursor: pointer;
   color: #D2E885;
  font-size: 15px;
  padding: 8px 20px;
  border-radius: 3px;
  position: relative;
  bottom:-1px;

}
.gouwuche span:hover{
	color: #fff;
}
.cdb{
	color: #acdbf5;
}
.package_contents{
	font-size: 12px;
	color:#8f98a0;
}
.package_contents b{
    font-weight: normal;
     color: #8bc53f; 
}
.lan{
	background: linear-gradient( to bottom, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);
	position:absolute;
	padding: 0 10px;
	bottom: -25px;
	left:231px;
    padding: 3px 15px;
    font-size: 15px;
    line-height: 28px;
    color:  #A4D7F5;
    display: inline-block;
    border-radius:3px;
    border:3px solid #000;
}
.lan:hover{
	color: #fff;
}
.gouwuche .size{
	    color: #b0aeac;
	    border-right: 1px solid #626366;
        font-size: 25px;
        padding: 0 8px;
        line-height: 28px;
        position: relative;
        bottom: -5px;
}


.YYU{color: #fff;font-size: 13px;cursor: pointer;}
